<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>vCardCreator</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="{{ url_for('csv_upload') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="csvfile"/>
    <input type="submit"/>
</form>
</body>
</html>